# Install Guiding
# Python 3.6.2 :: Anaconda, Inc.

django==2.0.2
requests==2.20.0
bs4==0.0.1
nltk==3.4.5

tflearn==0.3.2

numpy 
matplotlib 
pandas 
pydotplus 
h5py 
scikit-learn
pydot
scipy 
libpython
ujson
tqdm
wordcloud
gensim
numpy 
matplotlib 
pandas 
pydotplus 
h5py 
scikit-learn
scipy 
libpython
ujson
seaborn
pydot
tqdm
wordcloud
gensim
nltk
wikiextractor
seqeval
konlpy
ipykernel
jupyter
tensorflow
keras
keras-crf
sentencepiece
tokenizers
tensorflow_datasets
transformers
sentence_transformers
# PyTorch BERT모델을 위해 파이토치 설치
# pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
